SHELL=/bin/bash
BASH_ENV=/etc/environment
# solar panels
*/5 * * * * /usr/local/bin/python3 /app/solar_panels.py >>/app/pyelectricity.log 2>&1
# electricity prices
@reboot sleep 30 && /usr/local/bin/python3 /app/power_prices.py >>/app/pyelectricity.log 2>&1
13 * * * * /usr/local/bin/python3 /app/power_prices.py >>/app/pyelectricity.log 2>&1
# weather forecast
59 * * * * /usr/local/bin/python3 /app/weather.py >>/app/pyelectricity.log 2>&1
# solar forecast
59 * * * * /usr/local/bin/python3 /app/solcast.py >>/app/pyelectricity.log 2>&1
# Streamlit dashboard
@reboot sleep 30 && /usr/local/bin/python3 -m streamlit run /app/dashboard_ui.py --browser.gatherUsageStats False >>/app/pyelectricity.log 2>&1
# daily computation
25 2 * * * /usr/local/bin/python3 /app/compute_day_summary.py >>/app/pyelectricity.log 2>&1
